<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
	<key>CFBundleExecutable</key>
	<string>PushWrite</string>
	<key>CFBundleIconFile</key>
	<string>PushWrite.icns</string>
  <key>CFBundleIdentifier</key>
  <string>ch.baumanncreative.pushwrite</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>PushWrite</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
	<string>0.2.0-alpha.1</string>
	<key>CFBundleVersion</key>
	<string>200001</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
  <key>LSUIElement</key>
  <true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>PushWrite benötigt Mikrofonzugriff, um Sprache über die globale Halten-zum-Sprechen-Tastenkombination aufzunehmen.</string>
  <key>NSPrincipalClass</key>
  <string>NSApplication</string>
</dict>
</plist>
